.main-container {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 16px;
  max-width: 375px;
}

.error-message {
  position: absolute;
  bottom: -14px;
  font-size: var(--font-size-paragraph);
  color: var(--color-primary);
}

.attribution {
  margin-bottom: 18px;
  text-align: center;
  font-size: var(--font-size-paragraph);
  color: var(--color-neutral-white);

  a {
    color: var(--color-primary);
  }
}

@media (width >= 1024px) {
  .main-container {
    max-width: 400px;
  }
}
