:root {
  --color-primary: hsl(25, 97%, 53%);
  --color-neutral-white: hsl(0, 0%, 100%);
  --color-neutral-light-gray: hsl(217, 12%, 63%);
  --color-neutral-dark-blue: hsl(213, 19%, 18%);
  --color-neutral-very-dark-blue: hsl(216, 12%, 8%);

  --font-size-title: 2.5rem;
  --font-size-paragraph: 1.5rem;
  --font-size-button: 1.3rem;

  --primary-font-family: 'Overpass', sans-serif;
}

body {
  display: grid;
  place-content: center;
  font-family: var(--primary-font-family);
  height: 100dvh;
  background-color: var(--color-neutral-very-dark-blue);
}

#root {
  display: grid;
  grid-template-rows: 1fr auto;
  place-items: center;
  height: inherit;
}
