.thank-you-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2.4rem;
  padding: 2.8rem 2.4rem;
  border-radius: 30px;
  background: linear-gradient(
    224deg,
    var(--color-neutral-dark-blue) 0%,
    hsla(215, 20%, 12%, 0.012) 150%
  );
  height: 37.3rem;
  justify-content: center;
  animation: fadeIn 0.5s ease-out;
}

.thank-you-card__illustration {
  width: 140px;
}

.thank-you-card__rating-container {
  background-color: var(--color-neutral-dark-blue);
  border-radius: 30px;
  padding: 0.6rem 1.4rem;
}

.thank-you-card__rating-text {
  font-size: var(--font-size-paragraph);
  color: var(--color-primary);
}

.thank-you-card__title {
  font-size: var(--font-size-title);
  color: var(--color-neutral-white);
  margin-top: 1rem;
}

.thank-you-card__paragraph {
  font-size: var(--font-size-paragraph);
  color: var(--color-neutral-light-gray);
  text-align: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
